@import "tailwindcss";

@media (prefers-color-scheme: dark) {
  :root {
    --background: #202020;
    --foreground: #ededed;
    color: ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
